In [46]:
import pandas as pd

In [47]:
df1 = pd.read_excel(io="C:/Users/Admin/Desktop/Python LAB tkinter/build/enemies.xlsx")
df

                  Name Health
0                Aluba      1
1      Aspid Hatchling      5
2               Baldur     15
3             Bluggsac     20
4      Charged Lumafly      —
..                 ...    ...
133    Turret Zoteling    100
134       Head of Zote    200
135  Volatile Zoteling     30
136     Lanky Zoteling    150
137     Fluke Zoteling    100

[138 rows x 2 columns]

In [49]:
import pandas as pd
# создаем DataFrame
def add_value():
    df2 = pd.DataFrame({'Name': , 'Health': })
    df = pd.concat([df1, df2])
# добавляем новый элемент
print(df)

                Name Health
0              Aluba      1
1    Aspid Hatchling      5
2             Baldur     15
3           Bluggsac     20
4    Charged Lumafly      —
..               ...    ...
136   Lanky Zoteling    150
137   Fluke Zoteling    100
0                  1      4
1                  2      5
2                  3      6

[141 rows x 2 columns]